body{
  background-color: hwb(300 0% 89%);
  height: 2000px;
 }

.info,
.my-info{
  color: white;
  font-family: Roboto, Arial;
}

.name{
  font-size: 26px;
  font-family: Roboto, Arial;
  color: white;
  text-align: center;
  border-bottom: 1px solid rgba(235, 235, 235, 0.10196078431372549);
  font-weight: 900;
  padding-bottom: 30px;
  margin-top: 20px;
}

.title{
  color: white;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  font-style: italic;
}

.info{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  border: 2px  hwb(0 18% 80%);
  border-radius: 10px;
  padding: 20px 4px;
  background-color: hwb(300 3% 94%);
  font-weight: 600;
  margin-bottom: 15px;
  font-family: Roboto, Arial;
}

.head{
  text-align: center;
  border:3px solid hwb(180 2% 72%);
  padding: 10px 4px;
  border-radius: 14px;
  font-weight: 700;
  font-size: 19px;
}

.about-me{
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  line-height: 2rem;
  border-bottom: 1px solid rgba(235, 235, 235, 0.10196078431372549);
  padding-bottom: 20px;
}

.skills{
  font-weight: 600;
  font-size: 12px;
  line-height: 2rem;
}

.projects{
  font-weight: 700;
  font-size: 16.5px;
  text-align: center; 
  white-space: none;
}

.accent {
      color: #63e2ea;
      text-shadow: 0 0 12px rgba(0, 240, 255,0.6);}

nav>a{
  color: hwb(195 63% 11%);
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-left: 60px;
  margin-right: 50px;
  padding-left: 13px;
  cursor: pointer;
  font-size: 14px;
}

p>a{
  color: hwb(195 63% 11%);
  text-decoration: none;
}
.links{
  padding-bottom: 5px;
}
.contact{
  font-size: 19px;
  font-weight: bolder;
}

.phone{
  font-size: 19px;
  font-weight: bolder;
  margin-bottom: 0;
}

.img{
  height: 20%;
  width: 50%;
  border-radius: 40%;
  margin-left: 25%;
  display: flex;
  margin-top: 10px;
}

.mail{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  gap: 8px;
}

.mail>img{
  width: 8%;
  height: 30px;
  border-radius: 50%;
  margin-top: -6.5px;
  max-width: 10%;
}

.whatsapp{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  gap: 8px;
}

.whatsapp>img{
  width: 8%;
  height: 30px;
  border-radius: 50%;
  margin-top: -6.5px;
  max-width: 10%;
}

/* Desktop */
@media (min-width: 1024px) {
}

/* Tablet */
@media (max-width: 1023px) {
}

/* Phone */
@media (max-width: 600px) {
}